.container{
    text-align: center;
    background-color: #129BFA;
    color: #fff;
    border-radius: 18px 0 0 18px ;
    height: 100%;
}

.container img{
    width: 45%;
    margin-bottom: 5vh;
}

.mainContent{
    width: 75%;
    margin: 0 auto;
}

.backgroundParagraph{
    width: 85%;
    margin: 5vh auto;
    text-align: center;
}



@media(max-width: 1100px){

    .container img{        
        width: 25%;
    }

}