h1{
    text-align: center;
    margin-bottom: 35px;
}

.cards{
    column-count: 3;
}

@media(max-width: 850px){
    .cards{        
        column-count: 2;
    }
}

@media(max-width: 650px){
    .cards{        
        column-count: 1;
    }
}