.container{
    width: 80vw;
    margin: 5vh auto;
    padding: 10px 30px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);    
    background-color: rgba(46, 167, 251, 0.38);  
}

.userImg{
    width: 75px;
    height: 70px;
    border-radius: 50%;
    background-size: cover;
}

.main{
    display: flex;
}

.inputGroup{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-bottom: 25px;
    width: 100%;
}

.input{
    display: block;
    height: 7vh;
    background-color: transparent;
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    outline: none;
    color: #000;
}

.input::placeholder{
    font-size: 1.1rem;
}


@media(max-width: 750px){
    .container{
        width: 100vw;
    }

    .userImg{
        height: 63px;
    }
}

@media(max-width: 400px){

    .userImg{
        height: 49px;
    }
}