
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    column-count: 3;
    column-gap: 20px;
    
}

.container:hover{
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    position: relative;
    bottom: 2px;
}

img{
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.cardContainer{
    background-color: rgba(46, 167, 251, 0.38);  
    border-radius: 0 0 8px  8px;
    width: 100%;
}

.userInfo{
    display: flex;
    padding: 5px;
    gap: 5px;
    align-items: center;
    height: 25%;
}

.userImage{
    width: 30px;
}

.cardContent{
    height: 80%;
    padding: 5px;
}

.cardDesc{
    height: 60%;
    padding: 0 15px;
}

.cardFooter{
    height: 20%;
    display: flex;
    justify-content: space-between;
    
}


.cardReactions{    
    gap: 10px;
}

.cardReactions, .reactionsLike, .reactionsComments{    
    display: flex;
}