

.post{
    width: 1100px;
    margin: 5vh auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header{
    text-align: end;
}

.postImg {
    width: 80%;    
}

.postContent{
    height: 100%;
    width: 50%;
    background-color: rgba(46, 167, 251, 0.38);  
    border-radius: 8px;
    padding: 5px 10px;
}

.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
}


.userInfo:hover{
    cursor: pointer;
    color: blue;
}

.userImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
}

.mainContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}

.postTitle h1, p{
    text-align: start;
    margin: 0;
}

.postTitle{
    height: 100%;
}

.inputEdit{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 2em;
    font-weight: 800;
    color: #213547;
}

.inputEditDesc{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #213547;
}


.postFooter{
    gap: 10px;
}

.postFooter, .reactionsLike, .reactionsComments{
    display: flex;    
    align-items: center;
}


.likeIcon, .commentIcon{
    transition: all 0.6s ease;
}

.likeIcon:hover, .commentIcon:hover{
    position: relative; 
    bottom: 2px;
    cursor: pointer;
}

.closeIcon{
    
    transition: all 0.4s ease;
}

.closeIcon:hover{
    color: red;
    cursor: pointer;
}

.commentsContainer{
    border-radius: 8px 8px 0 0 ;
    background-color: #0A98FA;
    padding: 10px;
    height: 55vh;
}

@media(max-width: 1000px){
    .post{
        flex-direction: column;
    }
    

    .postContent, .postImg{
        width: 100%;
    }
}

